@import '@repo/ui/globals.css';

.hljs {
  @apply text-foreground/90;
}

.hljs-comment,
.hljs-quote {
  @apply text-muted-foreground italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-addition {
  @apply text-primary font-semibold;
}

.hljs-number,
.hljs-string,
.hljs-meta .hljs-string,
.hljs-literal,
.hljs-doctag,
.hljs-regexp {
  @apply text-orange-400;
}

.hljs-title,
.hljs-section,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  @apply text-blue-400 font-bold;
}

.hljs-attribute,
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-class .hljs-title,
.hljs-type {
  @apply text-yellow-500;
}

.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-meta,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-link {
  @apply text-purple-400;
}

.hljs-built_in,
.hljs-deletion {
  @apply text-red-400;
}

.hljs-formula {
  @apply bg-muted;
}

.hljs-emphasis {
  @apply italic;
}

.hljs-strong {
  @apply font-bold;
}
