@import 'tailwindcss';
@source '../../../../packages/ui/src/**/*.{js,ts,jsx,tsx,mdx}';
@custom-variant dark (&:where(.dark, .dark *));

/* :root {
  --background: #ffffff;
  --foreground: #1f1f1f;
  --card: #f0f4f9;
  --card-foreground: #1f1f1f;
  --popover: #ffffff;
  --popover-foreground: #1f1f1f;
  --primary: #1a73e8;
  --primary-foreground: #ffffff;
  --secondary: #e9eef6;
  --secondary-foreground: #1f1f1f;
  --muted: #f0f4f9;
  --muted-foreground: #444746;
  --accent: #dde3ea;
  --accent-foreground: #1f1f1f;
  --destructive: #d93025;
  --destructive-foreground: #ffffff;
  --info: #2563eb;
  --info-foreground: #ffffff;
  --success: #16a34a;
  --success-foreground: #ffffff;
  --warning: #d97706;
  --warning-foreground: #ffffff;
  --border: #e3e3e3;
  --input: #ffffff;
  --ring: #0b57d0;
  --radius: 0.5rem;
} */

:root {
  --background: #000000;
  --foreground: #e3e3e3;
  --card: #1e1f20;
  --card-foreground: #e3e3e3;
  --popover: #1e1f20;
  --popover-foreground: #e3e3e3;
  --primary: #8ab4f8;
  --primary-foreground: #000000;
  --secondary: #2d2f31;
  --secondary-foreground: #e3e3e3;
  --muted: #111111;
  --muted-foreground: #969696;
  --accent: #2d2f31;
  --accent-foreground: #8ab4f8;
  --destructive: oklch(71.061% 0.16614 22.191);
  --destructive-foreground: #ffffff;
  --info: #60a5fa;
  --info-foreground: #000000;
  --success: #4ade80;
  --success-foreground: #000000;
  --warning: #fbbf24;
  --warning-foreground: #000000;
  --border: #1b1b1c;
  --input: #111111;
  --ring: #8ab4f8;
  --radius: 0.5rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-info: var(--info);
  --color-info-foreground: var(--info-foreground);
  --color-success: var(--success);
  --color-success-foreground: var(--success-foreground);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 0.75rem);
  --radius-md: calc(var(--radius) - 0.5rem);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 0.5rem);
  --radius-2xl: calc(var(--radius) + 1rem);
  --font-sans: var(--font-geist-sans);
  --font-heading: var(--font-geist-mono);
  --font-code: var(--font-jetbrains-mono);
}

@layer base {
  body::-webkit-scrollbar {
    width: 6px;
  }

  body::-webkit-scrollbar-track {
    background: #000000;
  }

  body::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 10px;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--border) transparent;
    @apply border-border scroll-smooth;
  }

  body {
    @apply bg-background text-foreground font-sans tracking-wide antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading;
  }

  .gradient-text {
    @apply from-foreground to-foreground/30 bg-linear-to-br bg-clip-text leading-tight font-extrabold tracking-tight text-balance text-transparent;
  }

  .hljs-comment,
  .hljs-quote {
    color: #7f848e;
    font-style: italic;
  }

  .hljs-doctag,
  .hljs-keyword,
  .hljs-formula {
    color: #c678dd;
  }

  .hljs-section,
  .hljs-name,
  .hljs-selector-tag,
  .hljs-deletion,
  .hljs-subst {
    color: #e06c75;
  }

  .hljs-literal {
    color: #56b6c2;
  }

  .hljs-string,
  .hljs-regexp,
  .hljs-addition,
  .hljs-attribute,
  .hljs-meta-string {
    color: #98c379;
  }

  .hljs-built_in,
  .hljs-class .hljs-title {
    color: #e6c07b;
  }

  .hljs-attr,
  .hljs-variable,
  .hljs-template-variable,
  .hljs-type,
  .hljs-selector-class,
  .hljs-selector-attr,
  .hljs-selector-pseudo,
  .hljs-number {
    color: #d19a66;
  }

  .hljs-symbol,
  .hljs-bullet,
  .hljs-link,
  .hljs-meta,
  .hljs-selector-id,
  .hljs-title {
    color: #61afef;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: bold;
  }

  .hljs-link {
    text-decoration: underline;
  }

  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }

  .animate-shimmer {
    animation: shimmer 2s infinite;
  }
}
